* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0 58px 0;
}

a {
    text-decoration: none;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    display: flex;
    gap: 40px;
}

button {
    cursor: pointer;
}

.btn-wrapper button:not(:last-child) {
    color: #0B132A;
    margin-left: 40px;
    border: none;
    background-color: unset;
    font-weight: 500;
    font-size: 16px;

}

.btn-wrapper button:nth-child(2) {
    color: #F53855;
    border: 1px solid #F53855;
    background-color: unset;
    padding: 14px 45px;
    border-radius: 50px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500px;

}

.btn-wrapper button:nth-child(2):hover {
    background-color: #F53838;
    color: #fff;
    box-shadow: 0px 4px 26px 2px rgba(215, 45, 45, 0.4);
}

.dots-btn {
    border: none;
    background-color: unset;
    display: none;
}

img {
    max-width: 100%;
}

.box {
    width: 100%;
    height: 100%;
}

.section-intro {
    padding-top: 50px;
}

.section-intro h1 {
    font-size: 50px;
    font-weight: 500;
}

span {
    font-weight: bold;
}

.section-intro p {
    color: #4F5665;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 68px;
    line-height: 30px;
}

.red-btn {
    background: unset;
    padding: 17px 75px;
    color: #F53838;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #F53838;
    border-radius: 10px;
}

.red-btn:hover {
    background-color: #F53838;
    color: #fff;
    box-shadow: 0px 4px 26px 2px rgba(215, 45, 45, 0.4);
}

.intro-row {
    margin-top: 100px;
}

.users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 24px 61px -19px rgba(17, 14, 14, 0.2);
    margin-top: 103px;
    border-radius: 10px;
}

.userflex {
    display: flex;
    gap: 37px;
    padding: 67px 0 0;
    align-items: flex-start;
    border-radius: 10px;
}

hr {
    border: 1px solid;
    height: 125px;
    color: #EEEFF2;
}

.provide-section {
    padding-top: 95px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #0B132A;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
}
.power-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-right: 15px;
}

.powerfull-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.powerfull-title p {
    font-size: 14px;
}

.providebox {
    padding-top: 20px;
}
.col-4 {
    width: 33.33%;
    padding: 20px;
}
.choose-title {
    text-align: center;
    margin: 50px 0 30px;
}

.itsbox {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    box-shadow: -1px 2px 23px 0px rgba(34, 60, 80, 0.02);
}

.itsbox:hover {
    border: 2px solid #F53838;
    box-shadow: -1px 9px 31px 0px rgba(245, 56, 56, 0.13);
}

.itsbox h4 {
    font-size: 25px;
    font-weight: 500;
    color: #0B132A;
}

.itsbox h5 {
    font-size: 18px;
    font-weight: 500;
    color: #0B132A;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.itsbox button {
    padding: 13px 63px;
    border: 2px solid #F53838;
    border-radius: 50px;
    color: #F53838;
    background: unset;
    font-size: 16px;
    font-weight: 700;
}

.itsbox button:hover {
    background-color: #F53838;
    color: #fff;
    box-shadow: -1px 9px 31px 0px rgba(245, 56, 56, 0.13);
}

.price-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: bottom;
    gap: 20px;

}

.planwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.magicbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricespan {
    font-weight: 400;
    color: #4F5665;
}

.map {
    margin-top: 155px;
}

.cards-row {
    /* margin-right: -150px; *//*meshaet pri adaptivke:))=  */
    margin-bottom: 80px;
}

.cards .box {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    height: 100%;
}

.cards .box:hover {
    border: 2px solid #F53838;
    box-shadow: -1px 9px 31px 0px rgba(245, 56, 56, 0.13);
}

.innerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 30px
}

.headiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.star {
    display: flex;
    gap: 10px;
}

.name h3 {
    font-size: 18px;
    font-weight: 500;
    color: #0B132A;
}

.name p {
    font-size: 14px;
    font-weight: 400;
    color: #4F5665;
}

.star p {
    font-size: 16px;
    font-weight: 400;
    color: #0B132A;
}

.card-discription p {
    color: #0B132A;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 30px 30px 30px;

}

.mini-btn {
    display: flex;
    gap: 15px;
    align-items: center;

}

.krug {
    border-radius: 50px;
    background-color: #DDE0E4;
    border: 6px solid #DDE0E4;
}

.ellipse {
    padding: 0 10px;
    border-radius: 50px;
    background-color: #F53838;
    border: 6px solid #F53838;

}

.buttonsdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.circle-btn button {
    padding: 15px;
    background-color: unset;
    border: 2px solid #F53838;
    border-radius: 50px;
    font-weight: bold;
    font-size: 10px;
    margin-left: 20px;

}

.circle-btn button:hover {
    background-color: #F53838;
    box-shadow: -1px 9px 31px 0px rgba(245, 56, 56, 0.13);

}

.circle-btn button:hover path {
    fill: #fff;
}

.buttonsdiv h3 {
    font-size: 35px;
    margin-bottom: 20px;

}

.subscribe {
    padding: 58px 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 22px -1px rgba(34, 60, 80, 0.12);
    margin-bottom: -115px;
    position: relative;
}

.sub-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #F8F8F8;

}

.foot-desc {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-img {
    margin-left: -20px;
    margin-bottom: 30px;
}

.inner-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    padding-bottom: 100px;
}


.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-ul h6 {
    font-size: 18px;
    padding-bottom: 20px;
}